<html>
    <head>
        <title>Get Going with Movies</title>
        <link rel="icon" href="https://www.shareicon.net/data/2016/07/05/791327_camera_512x512.png">
        <link rel="stylesheet" href="/stylesheets/design.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    </head>

    <body class="web_body">
        <h1 class="text-center" id="searchh1">Get Going with Movies</h1>

        <form action="/results" method="GET" class="justify-content-center d-flex">
            <input type="text" name="search" class="form-control w-25" placeholder="Enter movie name..">
            <button class="ml-3 text-center btn btn-success">Search Movie</button>
        </form>
    </body>
</html>